<h1>Chat</h1>
<div>
    <input type="text" id="chatTextBox" placeholder="Tu mensaje">
</div>
<div>
    <br><br>
    <label for="">Mensajes</label>
    <p id="messages"></p>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>